*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    height: 100vh;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(8px);
    z-index: -2;
}

.none{
    display: none;
}

.preloader,.error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9;
}
header,main{
 position: absolute;
  width: 100%;
    z-index: 5;
}
.navbar{
    z-index:15;
    position: absolute;
    width: 100%;
}
header{
    top:0;
}
main{
    top:80px;
    color: #ffffff;
}
.current-img{
    width: 100px;
    height: 100px;
    margin: auto;
}

.card{
    background: transparent;
    border: none;
    position: relative;
    z-index: 7;
}
.card::before{
content: "";
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
filter: blur(50px);
z-index: 2;
}


